.add-dog{
  margin: auto;
  background: radial-gradient(rgba(16, 16, 16, 0.475), rgba(3, 3, 3, 0.912));
  position: relative;
  min-height: 50vh;
  min-width: 30vw;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 2rem;
  font-size: 1.5rem;
}

.add-dog button{
  width: auto;
  background-color: transparent;
  border: aliceblue solid 2px;
  padding: 1rem;
}
.add-dog button:hover{
  width: auto;
  background-color: transparent;
  border-color: aliceblue;
  padding: 1rem;
  box-shadow: 0px 0px 10px 10px whitesmoke;
}
.add-dog label{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
input{
  background-image: url('../logos/bone.png');
  background-color: rgba(245, 245, 245, 0.147) ;
  height: 2rem;
  border-radius: 2rem;
  padding: 0rem 2rem;
  border-color: whitesmoke;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.253);
}
input#birth{
  
  width: 10rem;
  color: black;
  text-align: center;
}
input#name{
  width: 13rem;
  color: black;
}

