.navlink-card {
  text-decoration: none;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1a1a1d;
  border-radius: 15px;
  overflow: hidden;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #252d4a;
  width: 150px;
}

.card p {
  color: whitesmoke;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  height: 100px;
  width: 150px;
}
