.navlink-card {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  color: #1a1a1d;
  border: 1px solid #1a1a1d;
  border-radius: 10px;
  margin: 0 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #fbfbfb;
  padding: 1rem 0 1rem 1rem;
}

.card img {
  height: 100px;
  width: 100px;
}
